// abstracts/_variables.scss
$font-pretendard: 'Pretendard-Regular', sans-serif;
$primary-color: #006ACC;
$text-light-gray: #767676;
$border-light-gray: #e5e5ec;
$bg-light-gray: #F7F7FB;
$white-color: #ffffff;
$black-color: #111111;
$drop-shadow-light: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.06));